.header-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
  background-color: $c-header-bg;
  border-radius: 4px;
  padding: 0 75px;

  .logo-link {
    display: flex;
    align-items: center;
    text-align: center;
  }

  .header-logo {
    padding: 4px;
  }

  .header-nav {
    font-size: 16px;
    font-weight: 600;
    padding: 4px;
  }

  .search-input {
    width: 600px;
  }

  .logo {
    width: 48px;
  }
}