$c-white: #ffffff;

$c-error-text: #ca0000;
$c-success-text: #25963d;

// base
$c-base-bg: #09122C;
$c-main-bg: #EEF2FF;

// header
$c-header-bg: #EEF2FF;

// not found
$c-notfound-text: #e0e2f4;
$c-notfound-title-bg: #aaaaaa;
$c-notfound-link-focus: #aaaaaa;
$c-notfound-text-focus: #0414a7;
$c-notfound-bg: #0414a7;

// login
$c-form-bg: #FFFFFF;
$c-box-shadow: 0 0 0 1px rgba(17, 20, 24, 0.15);

// task
$c-task-column-bg: #f5f8ff;
$c-comment-date-text: #777777;
$c-task-list-border: rgba(17, 20, 24, 0.15);